* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
}

/* Main header space and layout behavior at top of landing page */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header ul {
    list-style-type: none;
    font-weight: bold;
}

/* Height of GZ rotating icon */
header img {
    height: 75px;
    width: 75px;
}

/* Displays navigation links as plain */
/* nav ul {
    list-style-type: none;
} */

/* Sets horizontal positioning of navigation bar, along with spacing between each link in navigation bar */
/* nav ul li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1pt;
    margin-left: 30px;
} */

/* Styles links within navigation bar */
a {
    color: black;
    text-decoration: none;
}

main {
    height: 100%;
}

/* Sets About, Work, and Contact sections as flexbox area */
#about {
    display: flex;
    /* align-items: center; */
    height: 100%;
    /* background-color: thistle; */
}

/* Specifies main layout/width across page of About, Work, and Contact sections containing respective header and each section's content, pre-resize  */
#about div {
    /* height: 100%; */
    width: 50%;
    flex-grow: 1;
    padding: 250px;
    /* justify-content: center; */
    /* align-items: center; */
}

#bio {
    display: flex;
    height: 100%;
    /* padding: 200px; */
    /* background-color: orange; */
    align-items: center;
}

h1 {
    color: red;
    font-weight: 100;
    font-size: 60pt;
    letter-spacing: -1pt;
    text-align: center;
}

#headshot {
    background-image: url("../images/greg4.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets preview boxes within Work section, as well as Contact section with contact info and icons, as flexbox areas */
/* #work, #contactinfo { */
#work {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

/* #work div { */
    /* padding: 50px; */
    /* background-color: pink; */
    /* flex: 1 0 400px; */
    /* height: 100%; */
/* } */

/* Provides link capability within Work preview boxes */
/* #work div a {
    display: flex;
    width: 100%;
} */

/* This div contains each respective preview box's main image; mouse-over hover effects are also attached to these elements*/
.sample {
    /* margin: 50px;
    padding: 0px; */
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* Main container for text overlay for each preview box */
/* .preview {
    padding: 0;
    display: inline;
    width: fit-content;
    position: relative;
} */

/* Sets padding and background for each text overlay; holds both h4 and p elements for preview boxes */
.overlay {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    /* padding: 25px; */
    background-color: red;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    transition: 1s ease-in-out;
}

/* .project {
    display: table-cell;
} */

/* Image assignment for top preview box; sets width for top preview box within #portfolio flex container */
#sample1 {
    /* width: 100%; */
    background-image: url("../images/vivaflyer-illeana.jpg");
}

/* Specifications of subsequent flex children within #portfolio flex container */
#sample1, #sample2, #sample3, #sample4, #sample5 {
    /* width: 50%; */
    flex: 1 0 400px;
}

/* Image assignments of subsequent flex children within #portfolio flex container */
#sample2 {
    background-image: url("../images/tracfone.jpg");  
}

#sample3 {
    background-image: url("../images/delmontefresh.jpg");
}

/* #sample4 {
    background-image: url("../images/uofw.jpg");
}

#sample5 {
    background-image: url("../images/luminaria.jpg");
} */

/* Extent of hover effect set here */
.overlay:hover {
    opacity: 0.9;
}

/* Styling of client/organization name for each Work preview box */
.project h2 {
    font-size: 32px;
    font-weight: bold;
}

/* Styling of subheading under each client/organization name */
.project p {
    margin: 15px;
    padding: 0px;
    font-size: 12pt;
}

#contact {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
/* Sets flex properties and behavior for items within #contactinfo flex container */
#contact img {
    padding: 0;
    width: auto;
    height: 30px;
    margin-right: 15px;
}

#socials img {
    margin-right: 0;
    margin-left: 15px;
}

#contact p {
    display: inline;
    padding: 0;
    margin-right: 75px;
    font-size: 28px;
    /* font-weight: bold; */
    text-align: center;
    /* letter-spacing: .75pt; */
}

/* Sizing of icons next to contact info */

/* Styling of contact info in Contact section */

/* Positioning of footer area at bottom of landing page */
footer {
    width: 100;
    padding: 100px;
    text-align: center;
}

/* Font specifications within footer */
h5 {
    letter-spacing: 1pt;
    font-weight: 100;
}