* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 50px;
    background-color: white;
    width: 100%;
    z-index: 999;
}

header h1 {
    display: inline;
    font-weight: 100;
    letter-spacing: 2pt;
}

header img {
    height: 75px;
    width: 75px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2pt;
    margin-right: 30px;
}

a {
    color: black;
    text-decoration: none;
}

#hero{
    display: block;
    height: 1000px;
    background-image: url("../images/sotolvista.JPG");
    background-size: cover;
}

section {
    display: flex;
}

section div {
    width: 50%;
    flex-grow: 1;
    padding: 50px;
}

h2 {
    font-weight: 100;
    font-size: 100pt;
    letter-spacing: 2pt;
    text-align: right;
}

section div img {
    padding: 50px;
    padding-bottom: 0px;
    width: 100%;
}

h3 {
    padding: 50px;
    padding-bottom: 0px;
    color: red;
    font-size: 36px;
    line-height: 42px;
    font-weight: 100;
    letter-spacing: 1pt;
}

p {
    padding: 50px;
    font-size: 22px;
    font-weight: 250;
    line-height: 30px;
    letter-spacing: 0.75pt;
}

p a {
    color: black;
    text-decoration: underline red dotted 1px;
    text-underline-offset: 20%;
}

#portfolio, #contactinfo {
    display: flex;
    flex-wrap: wrap;
}

.sample {
    margin: 50px;
    padding: 0px;
    background-color: red;
    height: 500px;
    opacity: 1;
    transition: 1s ease-in-out;
}

#sample1 {
    width: 100%;
    background-image: url("../images/vivaflyer-illeana.jpg");
    background-size: cover;
    background-position: center;
}

#sample2, #sample3, #sample4, #sample5 {
    width: 50%;
    flex: 1 0 400px;
}

.sample:hover {
    opacity: 0.6;
}

.sample:hover h4 {
    opacity: 1;
}

h4 {
    display: inline;
    background-color: white;
    font-weight: 500;
    font-size: large;
    position: absolute;
    margin-left: 0px;
    margin-top: 400px;
    padding: 25px;
    letter-spacing: 2pt;
}

.address {
    width: 50%;
    flex: 1 0 400px;
    padding-bottom: 0px;
}

.address h5 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

footer {
    width: 100;
    padding: 100px;
    text-align: center;
}
